:root{
  --main-color: red;
}
p{
  font-family: 'roboto',Arial, Helvetica, sans-serif;
}
p{
  color:blue;
  line-height: 10px;

}
.first{
  color: brown ;
}
#pid{
  color: black !important;
}
span{ 

color: black
}
.div1{
  border: 1px solid blue;
  padding: 10px;
  margin left:  40px;
}
.img{ 
  width: 300px;
  filter: grayscale(40px) blur(1px);


}
.over{
  border: 2px solid blue;
  padding: 10px;
  height: 100px;
  width: 100px;
  overflow:scroll;
}
nav{
  border: 1px solid white;

width: 100%;  padding: 10px;
  background-color: white;
  position: fixed;
  padding: 10px;
}
.div2{
  border: 1px solid blue
  ;
  padding: 10px;
   margin-top: 200px; 
   margin-bottom: 200px ;
   position: relative;
     
}
.div20{
  position:absolute;
  top: 0;
  right: 0;
}
.flag{
  border: 1px solid green;
  background-color: green;
  width: 800px; 
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center; 
 

}
.circle{
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  

}
.wrap{
  height: 300px;
  width: 600px;
  margin: 100px;
  border: 1px solid black;
  overflow-wrap:break-word ;
  text-decoration: underline;
  text-decoration: color red ;
  text-decoration-thickness:1px;
  word-spacing: 3px;

 

}
.C{
  display: flex;
  margin: 100px;
  padding: 10px ;
  border: 1px solid
  blue;
  justify-content: space-between;

}