
.course{
  border: 1px solid black;
    color: blueviolet;
  background-color: skyblue;
  padding: 10px;
  border-radius:8px ;
  cursor: pointer;
  
  }
  .course-img{
    max-width: 100%;
    border-radius: 4px;
  }
  .course:hover{
    background-color: lawngreen;
    border: 1px solid goldenrod;
  }
 



.course p{
  color: blue;
}
.allcourse{
  display:grid ;
  grid-template-columns:auto auto auto ;
  gap: 20px; ;
}
    p{
      font-family:'roboto',Arial, Helvetica, sans-serif ;
      
    }