 div{
    border: 1px solid black;
    border-radius: 8px;

    padding: 10px;
  }
.lesson{
  background-color: blueviolet;


}
.alllesson{
  display :grid ;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  cursor:pointer ;

}
.intros{
  background-color: orchid;
  color: greens;
}
.lesson:hover{
  background-color: aqua;
  border: 1px solid red;

}
.lesson-img{
   max-width: 100%;
    border-radius: 4px;
  
}